.action-group {
  text-align: center;
}

.google-font {
  font-family: 'Nunito', sans-serif;
}

.name-font {
}

.user-card {
  background-color: green;
}

.nav-button {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  transition: transform 0.2s;
  scale: 1;
}

/* .nav-button#v1 {
  background: #fcbb6d;
}

.nav-button#v2 {
  background: #d8737f;
}

.nav-button#v3 {
  background: #685d79;
} */

.nav-button:hover {
  color: #fcbb6d;
  transform: scale(1.2);
}
